
/* @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap'); */

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-family: 'Fredericka the Great', cursive;
    color: #ffffff;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(180deg,#000000, #0000ff);
}

h1 {
    text-align: center;
    padding: 10px;
    /* margin: 5px 0px; */
}

main {
    text-align: center;
    padding: 10px;
}

main p {
    padding: 10px;
    margin: 5px;
    font-size: 22px;
}

main input{
    color: #000000;
    font-weight: bold;
}